$letter_spacing : 4px;
$big_font_size : 24px;
$header_background : #FFF;
$navbar_item_color : black;
$basic_font : Verdana,sans-serif;
$home_header_background : rgba(0, 0, 0, 0.685);
$home_header_text : rgba(255, 255, 255, 0.808);
$house_header_background : black;
$house_header_text : white;
$form_button_background : black;
$form_button_color : white;
